<mat-sidenav-container class="component">
  <mat-sidenav #sidebar class="sidebar">
    <mat-nav-list class="sidebar-list">
      <mat-list-item (click)="sidebar.toggle()" [routerLink]="[{ outlets: { dashboard: ['profile'] } }]">
        <mat-icon mat-list-icon>person</mat-icon>
        <span matLine>Accountinformatie</span>
      </mat-list-item>
      <mat-list-item (click)="sidebar.toggle()" [routerLink]="[{ outlets: { dashboard: ['reportVehicle'] } }]">
        <mat-icon mat-list-icon>playlist_add</mat-icon>
        <span matLine>Rapporteer gestolen Vehicle</span>
      </mat-list-item>
      <mat-list-item (click)="sidebar.toggle()" [routerLink]="[{ outlets: { dashboard: ['vehicleOverview'] } }]">
        <mat-icon mat-list-icon>drive_eta</mat-icon>
        <span matLine>Overzicht</span>
      </mat-list-item>
      <mat-list-item (click)="sidebar.toggle()" [routerLink]="[{ outlets: { dashboard: ['liveMap'] } }]">
        <mat-icon mat-list-icon>map</mat-icon>
        <span matLine>Live Map</span>
      </mat-list-item>
      <!--
      <mat-list-item (click)="sidebar.toggle()" [routerLink]="[{ outlets: { dashboard: ['vehicleHistory'] } }]">
        <mat-icon mat-list-icon>history</mat-icon>
        <span matLine>geschiedenis</span>
      </mat-list-item>
      -->
      <mat-list-item (click)="logout()">
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        <span mat-line>Uitloggen</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary" class="header">
    <button mat-icon-button (click)="sidebar.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="header-title">Politie systeem</h1>
    <div class="header-avatar-wrapper">
      <img class="header-avatar" [src]="'assets/images/belgium-flag.png'" />

    </div>
  </mat-toolbar>

  <router-outlet name="dashboard"></router-outlet>
</mat-sidenav-container>

