<button mat-button>Vraag geschiedenis</button>

<form #formDirective="ngForm" (submit)="submit(formDirective)" autocomplete="off" >
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Kenteken"
      [formControl]="LicensePlateFormControl">
    <mat-error *ngIf="LicensePlateFormControl.hasError('required')">
      Kenteken is <strong>vereist</strong>
    </mat-error>
  </mat-form-field>


  <div class="button-wrapper">
    <button
      *ngIf="!isDisabled"
      mat-raised-button
      type="submit"
      color="primary"
      class="submit-button"
      matTooltip="Rapporteer het voertuig als gestolen">
      Opslaan
    </button>
  </div>
</form>


<br><br><br>


<h3>Geschiedenis: </h3>
<div id="geschiedenisMap">

</div>
