<div class="component">
  <div class="content">
    <mat-card>
      <mat-toolbar color="primary">
        <span>Inloggen</span>
      </mat-toolbar>
      <mat-card-content>
        <form (submit)="submit()" autocomplete="off">
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Gebruikersnaam"
              [formControl]="userNameFormControl">
            <mat-error *ngIf="userNameFormControl.hasError('required')">
              Gebruikersnaam is <strong>vereist</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="password"
              placeholder="Wachtwoord"
              [formControl]="passwordFormControl">
            <mat-error *ngIf="passwordFormControl.hasError('required')">
              Wachtwoord is <strong>vereist</strong>
            </mat-error>
          </mat-form-field>
          <mat-error *ngIf="submitError" class="submit-error">
            {{submitError}}
          </mat-error>
          <div class="button-wrapper">
            <button
              mat-raised-button
              type="submit"
              color="primary"
              class="submit-button">
              Login
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
