<h3> Gestolen voertuigen </h3>

<div *ngIf="this.initialised">
  <mat-table [dataSource]="this._stolenVehicles">

    <ng-container matColumnDef="licensePlate">
      <mat-header-cell *matHeaderCellDef>Kenteken</mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> <b> {{vehicle.licensePlate}}</b></mat-cell>
    </ng-container>

    <ng-container matColumnDef="Brand">
      <mat-header-cell *matHeaderCellDef>Merk</mat-header-cell>
      <mat-cell *matCellDef="let vehicle">{{vehicle.brand}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Model">
      <mat-header-cell *matHeaderCellDef>Model</mat-header-cell>
      <mat-cell *matCellDef="let vehicle">{{vehicle.model}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="buildYear">
      <mat-header-cell *matHeaderCellDef>Bouwjaar</mat-header-cell>
      <mat-cell *matCellDef="let vehicle">{{vehicle.buildYear}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef>Kleur</mat-header-cell>
      <mat-cell *matCellDef="let vehicle">{{vehicle.color}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="priority">
      <mat-header-cell *matHeaderCellDef>Prioriteit</mat-header-cell>
      <mat-cell *matCellDef="let vehicle">
        <span [ngStyle] ="{'color' : getPriorityColor(vehicle.priority)}">{{vehicle.priority}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="stolenSince">
      <mat-header-cell *matHeaderCellDef>Gestolen sinds</mat-header-cell>
      <mat-cell *matCellDef="let vehicle">{{ vehicle.stolenSince.toString().substring(0,10) }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="info" >
      <mat-header-cell *matHeaderCellDef>Info</mat-header-cell>
      <mat-cell *matCellDef="let vehicle">
        <button mat-raised-button matTooltip="Toon voertuiginformatie" (click)="showInfo(vehicle._citizenServiceNumber)">
          <mat-icon >info</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <div *ngIf="this.showOwner">
    <br><br>
    <h3>Eigenaar</h3>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{this.selectedOwner.firstName}}                 {{this.selectedOwner.lastName}}
          </mat-panel-title>
          <mat-panel-description>
            Toon gedetailleerde informatie
          </mat-panel-description>
        </mat-expansion-panel-header>
        <b>Voornaam: </b> &nbsp; {{this.selectedOwner.firstName}} <br>
        <b>Achternaam: </b> &nbsp; {{this.selectedOwner.lastName}} <br>
        <b>Burgerservicenummer: </b>  &nbsp; {{this.selectedOwner.citizenServiceNumber}} <br>
        <b>Land: </b>  &nbsp; {{this.selectedOwner.country}} <br>
        <b>Stad: </b>  &nbsp; {{this.selectedOwner.city}} <br>
        <b>Postcode: </b>  &nbsp; {{this.selectedOwner.zipCode}} <br>
        <b>Straat: </b>  &nbsp; {{this.selectedOwner.street}}  {{this.selectedOwner.houseNumber}} <br>
    </mat-expansion-panel>
  </div>
</div>

