@import '../../../styles/base';

.component {
  margin: 16px auto;
  max-width: $view-max-width;
}

.card-content {
  padding: 16px;
}

form {
  width: 100%;

  .mat-form-field {
    width: 100%;
  }
}

.submit-error {
  margin-top: 8px;
}

.button-wrapper {
  margin-top: 16px;
  display: flex;
  flex-flow: row nowrap;
}

.submit-button {
  margin-left: auto;
}
