<h1> Rapporteer een gestolen voertuig</h1>

<form #formDirective="ngForm" (submit)="submit(formDirective)" autocomplete="off" >
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Kenteken"
      [formControl]="LicensePlateFormControl">
    <mat-error *ngIf="LicensePlateFormControl.hasError('required')">
      Kenteken is <strong>vereist</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Prioriteit" [formControl] = "PriorityFormControl">
      <mat-option *ngFor="let priority of this.priorities"  [value] ="priority.value">
        {{ priority.viewValue }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="PriorityFormControl.hasError('required')">
     Priority is <strong>vereist</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput [matDatepicker]="myDatepicker"
      placeholder="Gestolen op"
      [formControl] = "DateFormControl">
    <mat-error *ngIf="DateFormControl.hasError('required')">
      De Datum waarop het voertuig is gestolen, is <strong>vereist</strong>
    </mat-error>
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-form-field>

  <div class="button-wrapper">
    <button
      *ngIf="!isDisabled"
      mat-raised-button
      type="submit"
      color="primary"
      class="submit-button"
      matTooltip="Rapporteer het voertuig als gestolen">
      Opslaan
    </button>
  </div>
</form>
