<h3>Livemap</h3>
<div id="liveMap">

</div>



<br>

<h3>gestolen voertuigen</h3>

<div *ngIf="this._initialized">

  <mat-table [dataSource]="this.stolenVehicles" id="stolenVehicles">

    <ng-container matColumnDef="licensePlate">
      <mat-header-cell *matHeaderCellDef>Kenteken</mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> <b> {{vehicle.licensePlate}}</b></mat-cell>
    </ng-container>

    <ng-container matColumnDef="brand">
      <mat-header-cell *matHeaderCellDef>Merk</mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> {{vehicle.brand}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="model">
      <mat-header-cell *matHeaderCellDef>Model</mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> {{vehicle.model}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="priority">
      <mat-header-cell *matHeaderCellDef>Prioriteit</mat-header-cell>
      <mat-cell *matCellDef="let vehicle">
        <span [ngStyle] ="{'color' : _getPriorityColor(vehicle.priority)}">{{vehicle.priority}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="track" >
    <mat-header-cell *matHeaderCellDef>Track</mat-header-cell>
    <mat-cell *matCellDef="let vehicle">
      <div *ngIf="vehicle.isBeingTracked">
        <button mat-raised-button (click)="stopTrackingVehicle(vehicle.carTracker)" matTooltip="Stop met het tekenen van de verplaatsingen">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <div *ngIf="!vehicle.isBeingTracked">
        <button mat-raised-button (click)="trackVehicle(vehicle.carTracker)" matTooltip="Teken de verplaatsingen op het kaartje hierboven">
          <mat-icon>create</mat-icon>
        </button>
      </div>
    </mat-cell>
  </ng-container>

    <ng-container matColumnDef="focus" >
      <mat-header-cell *matHeaderCellDef>Focus</mat-header-cell>
      <mat-cell *matCellDef="let vehicle">
        <div *ngIf="this._isTracking">
          <button mat-raised-button (click)="this.setFocus(vehicle.carTracker, 1)" >
            <mat-icon>visibility_off</mat-icon>
          </button>
        </div>
        <div *ngIf="!this._isTracking">
          <button mat-raised-button (click)="this.setFocus(vehicle.carTracker, 0)" >
            <mat-icon>visibility</mat-icon>
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="reportFound" >
      <mat-header-cell *matHeaderCellDef>Gevonden</mat-header-cell>
      <mat-cell *matCellDef="let vehicle">
        <button mat-raised-button (click)="reportAsFound(vehicle.carTracker)" matTooltip="Geef door aan het politiesysteem (backend) dat het voertuig is gevonden">
          <mat-icon>report</mat-icon>
        </button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
